@model Web_app.Models.Project

@{
    ViewBag.Title = "Видалити проект    ";
}

<h2>Видалити проект</h2>

<h3>Ви впевнені, що хочете видалити цей проект?</h3>
<div>
    <h4>Проект</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectComment)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> |
            @Html.ActionLink("До списку проектів", "Index")
        </div>
    }
</div>
