@model IEnumerable<Web_app.Models.Project>

@{
    ViewBag.Title = "Список проектів";
}

<h2>Список проектів</h2>

<p>
    @Html.ActionLink("Створити новий", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectComment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectComment)
        </td>
        <td>
            @Html.ActionLink("Редагувати", "Input", new { id=item.Id }) |
           @Html.ActionLink("Видалити", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
